@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-soft: #f3f3f3;
}

/* for main menu layout */
.aside {
    width: 300px;
    overflow: scroll;
}

.nav-menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-title{
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #949494;
}

.menu-item{
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

.menu-item-link:hover {
    background-color: #e7e7e7;
}

.menu-item-link{
    display: flex;
    justify-content: space-between;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.menu-item-link.active{
    background-color: var(--primary);
    color: white !important;
}

.menu-item-link:hover{
    text-decoration: none;
    color: var(--dark);
}

.menu-spacer{
    padding: 15px 0;
}

/* for main content layout */
.content{
    background-color: var(--primary-soft);
    overflow: scroll;
    box-shadow:0 .125rem .25rem rgba(0, 0, 0, .075) inset;
}

/* for nav at content layout */
.header{
    position: sticky;
    top: 0.2rem;
    z-index: 2000;
}

.show-side-bar-btn{
    cursor: pointer;
}

.user-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* four card at contect layout */
.card{
    border: none;
}

.card-status{
    transition: 0.3s;
}

.card-status:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-status:active {
    transform: translateY(-5px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* canvas image */
.ov-img{
    margin-left: -25px;
    width: 40px;
}

/* wrapper for canvas responsive */
.wrapper {
    height: 100% !important;
}

/* for carousel image */
.item-card-img{
    height: 200px;
}

/* for carousel arrow color */
.carousel-control-next,
.carousel-control-prev
   {
    filter: invert(100%);
    z-index: 3000;
}

.mb-sm {
    margin-bottom: 10px !important;
}

.full-screen-card{
    position: fixed;
    inset: 0;
    width: 100%;
    z-index: 2005;
    height: 100vh;
    overflow: scroll;
}

@media screen and (max-width: 780px){
    /* menu layout */
    .aside{
        position: fixed;
        width: 300px;
        z-index: 2001;
        display: block !important;
        background-color: white;
        margin-left: -100%;
    }
}
